/**********************************************/
/* General Style Sheet (Scope: All Templates) */
/**********************************************/

/* General */
html            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 0.9em;}
a, h1           { color: #858e93; }
h1              { font-size: 1em; }
h2              { font-size: 1.2em; }
h3              { font-size: 1.5em; }

/* General - Tables */
table.dataframe, .dataframe th, .dataframe td {
  border: none; 
  border-bottom: 1px solid #cdd4d8;
  border-collapse: collapse;
  text-align:left;
  padding: 5px;
  table-layout:fixed
  margin-bottom: 40px;
  font-size: 1.5em;
  background-color: #ffffff;
  color: black;

}

#chart2 {
  height: 400px;
  width:  650px;
  border:1px solid #000;
  overflow: scroll;
 }

textarea{
  display:inline-block;
  vertical-align:middle;

}

/* Bar Vis */

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

/* Ribbon */

#content {
  position:relative;
}

.ribbon {
  position:absolute;
  top:10px;
  right:10px;
}

tr:nth-child(odd)  { background-color:#ffffff; }
tr:nth-child(even) { background-color:#ffffff; }
tr:hover           { background-color: #ffffff;}

/* Buttons & Inputs */
input[type=submit] {
    border: 1;
    font-family: Lucida Grande;
    font-size: 0.8em;
    background: transparent;
    color: #000000;
    border-color: #000000;
    border-style: solid;
}
input[type="checkbox"] { 
  opacity:0.5;
  transform: scale(1.2);
}

select[type=select] {
    font-family: Lucida Grande;
    font-size: 0.2em;
}

/* D3 */
.axis path {
  fill: none;
  stroke: #999;
  stroke-dasharray: 2 3;
}
.axis text {
  font-size: 13px;
  stroke: #222;
}
text.title {
  font-size: 24px;
}
circle.tick {
  fill: #f3f3f3;
  stroke: #999;
  stroke-dasharray: 2 3;
}
path.spiral {
  fill: none;
  stroke: #ee8d18;
  stroke-width: 3px;
}

/* Tooltip */
.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    z-index: 10;
    display: block;
    opacity: 0;
}

/* Dropdown Button */
.dropbtn {
}

.dropbtn:hover, .dropbtn:focus {
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {/*background-color: #f1f1f1*/}
.show {display:block;}


/* Vertical menu */
.parent_1 {
    margin-right:0px;
    margin-left:20px;
    float:left;
    width:100px;
}

.parent_2 {
    margin-right:0px;
    float:left;
    width:80%;
}

.parent_3 {
    margin-right:0px;
    float:left;
    width:100%;
}


.vertical-menu {
    width: 110px; 
}

.vertical-menu a {
    color: black; 
    display: block; 
    padding: 15px; 
    text-decoration: none; 
}

.vertical-menu a:hover {
}

.vertical-menu a.active {
  color: white;
  background-color: #ccc; 
}

/* Dashboard icons */
.nav3 {
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
}

.icons{
    display:inline-block;
    width:70px; 
    height: 40px; 
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
   }

.icons_big{
    display:inline-block;
    width:320px; 
    height: 320px; 
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;

   }

.icons_big_text{
    display:inline-block;
    width:320px; 
    height: 300px; 
    padding-right: 0px;
    padding-left: 0px;
    vertical-align: top;

   }

/* Heatmap */
rect.bordered {
  stroke: #ffffff;
  stroke-width:3px;   
}

text.mono {
  font-size: 7pt;
/*  font-family: Consolas, courier;
*/}
 
text.mono_week {
  font-size: 7pt;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

/* Network */
#chart_small {
  font: 10px sans-serif;
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

#circle circle {
  fill: none;
  pointer-events: all;
}

#circle:hover path.fade {
  display: none;
}

#control {
  position: fixed;
  left: 20px;
  top: 20px;
}

/* Buttons */
.button rect {
  stroke:#090177
  stroke-width: 3px;
  opacity: 0.9
}

.button rect.pressed {
  fill: #848383; 
  opacity: 0.2
}

.button #gradient-start {
  stop-color: #ffffff; 
  stop-opacity: 1;
}

.button #gradient-stop {
  stop-color: #ffffff; 
  stop-opacity: 1;
}

.button #gradient-start.active, .button #gradient-start.pressed {
  stop-color: #848383; 
}

.button #gradient-stop.active, .button #gradient-stop.pressed {
  stop-color: #ffffff; 
}

.button text {
  font-size: 7px;
  fill: #00000;
  pointer-events: none;
  text-anchor: left;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.button text.pressed {
  font-size: 7px;
  fill: #FFF;
  pointer-events: none;
  text-anchor: left;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px;
}

.brush .extent {
  stroke: #fff;
  stroke-opacity: .6;
  stroke-width: 2px;
  fill-opacity: .1;
  shape-rendering: crispEdges;
}


/**************************************/